.App {
  text-align: center;
}

* {
  background-color: #655B73;
  margin: 3px;
}

input {
  padding: 5px;
  padding-left: 15px;
  margin: 15px;
  border: 3px solid #D5BFF2;
  border-radius: 10px 100px;
  color: black;
}

.card {
  padding: 5px;
  margin: 10px;
  border: black;
}

h1 {
  padding-left: 30px;
  color: #D5BFF2;
  background-color: rgba(0, 0, 0, 0.625);
}

Button {
  border-radius: 10px 100px;
}